%hard-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

%side-padding {
	padding: 0 $half-spacing-unit;

	@include media(min-width $bp-med max-width $bp-large, 12) {
		padding: 0 $half-spacing-unit;
	}

	@include media(min-width $bp-large, 12) {
		padding: 0;
	}
}

%button-padding {
    padding: 0.8em 2em 0.7em 2em;
}

%button {
    @extend %button-padding;
    font-family: $futura;
    font-size: $epsilon;
    border: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

%emphasized-form-input {
    -webkit-appearance: none;
    @extend %button-padding;
    @include vp(border-radius, 0);
    @include vp(box-shadow, inset 0 0 0 2px $sea-grey);
    font-size: $epsilon;
    padding-left: $half-spacing-unit;
    border: none;
    outline: none;
    font-family: $futura;

    &:active,
    &:focus {
        @include vp(box-shadow, inset 0 0 0 2px $blue);
    }
}

%standard-form-input {
    -webkit-appearance: none;
    @extend %button-padding;
    @include vp(border-radius, 0);
    @include vp(box-shadow, inset 0 0 0 2px $border-grey);
    font-size: $zeta;
    padding-left: $half-spacing-unit;
    border: none;
    font-family: $futura;
    outline: 0;

    &:active,
    &:focus {
        @include vp(box-shadow, inset 0 0 0 2px $blue);
    }
}

%kerned-heading {
    letter-spacing: -1.1px;
    font-weight: $base-weight-heavy;
    font-family: $futura;
}

%base-weight-light {
    font-weight: $base-weight-light;
}

%form-title {
    font-size: $gamma;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0;
}

%body-text {
    font-family: $proxima;
    letter-spacing: 0;
    font-weight: $base-weight-light;
}

%form-text {
    font-family: $proxima;
    letter-spacing: 0;
    font-weight: $base-weight-heavy;
    font-size: $milli;
    color: $sea-grey;
}