[submodule "ravti/homepage"]
	path = ravti/homepage
	url = https://github.com/ravti/homepage.git
[submodule "ravti/pattern-library"]
	path = ravti/pattern-library
	url = git@github.com:Ravti/pattern-library.git
[submodule "ravti/ravti-redesign"]
	path = ravti/ravti-redesign
	url = git@github.com:Ravti/ravti-redesign.git
