.typography {
	@extend %narrow-container;
	margin-top: $ss-med;
	color: $base;
}

.typography__family {
	@include span-columns(12);
	font-family: $proxima;
}

.typography__sub-header {
	@include span-columns(12);

	@include media(min-width $bp-med, 12) {
		@include span-columns(8);
	}
}

.typography__copy {
	@include span-columns(12);

	@include media(min-width $bp-med, 12) {
		@include span-columns(8);
	}
}

.typography__caps {
	@include span-columns(12);
	
	@include media(min-width $bp-med, 12) {
		@include span-columns(8);
	}
}