.page-footer {
	margin: $ss-med 0 $double-spacing-unit;
}

.footer {
	@extend %side-padding;
	padding-top: $half-spacing-unit;
	border-top: 1px solid $border-grey;
	font-size: $milli;
	font-weight: $base-weight-heavy;

	@include media(min-width $bp-med, 12) {
		font-size: $micro;
		font-weight: $base-weight-light;
	}
}

.footer__pages-list {
	@extend %hard-reset;
	padding-top: $half-spacing-unit;
	text-align: center;

	@include media(min-width $bp-med, 12) {
		text-align: left;
	}
}

.footer__law-list {
	@extend %hard-reset;
	padding-top: $half-spacing-unit;
	text-align: center;

	@include media(min-width $bp-med, 12) {
		text-align: right;
	}
}

.footer__pages-list-item {
	display: inline-block;
	font-size: $micro;
	padding: 0 $half-spacing-unit 0;

	&:hover {
		color: $teal;
		cursor: pointer;
	}

	@include media(min-width $bp-med, 12) {
		font-size: $zeta;
		padding: 0 $base-spacing-unit 0 0;
	}
}

.footer__law-list-item {
	display: inline-block;
	font-size: $micro;
	padding: 0 $half-spacing-unit 0;

	&:hover {
		color: $teal;
		cursor: pointer;
	}

	@include media(min-width $bp-med, 12) {
		font-size: $zeta;
		padding: 0 0 0 $base-spacing-unit;
	}
}