.hero {
	background: $teal;
	background: url('http://cdn2.dropmark.com/72454/c7183d6dbc94ecc630b32d6a611227d547d0d9c5/HVAC_Vent.jpg') center center no-repeat;
	background-size: cover;

	@include media(min-width $bp-med, 12) {
		min-height: 38rem; //560px%16px
	}
}

.prompt {
	@extend %side-padding;
}

.prompt__tagline {
	font-size: 3rem;
	line-height: 1.1;
	padding-top: $triple-spacing-unit;
}

.prompt__copy {
	color: $white;
	font-size: $delta;
	line-height: 1.4;
	margin-top: 0;
}

.prompt__button {
	@extend %button;
	@include vp(box-shadow, inset 0 0 0 2px rgba(0,0,0,0.2));
	background: $yellow;
	color: $base;
	font-weight: $base-weight-heavy;
	margin-bottom: $double-spacing-unit;
	text-align: center;

	&:hover {
		cursor: pointer;
		background: darken($yellow, 4%);
	}
}