.hero {
	background: $teal;
	background: url('http://cdn2.dropmark.com/72454/22b6c0f235ab9f76275213dcee55b2162d9d92f0/HVAC_Blue.jpg') center center no-repeat;
	background-size: cover;

	@include media(min-width $bp-med, 12) {
		min-height: 100%; //560px%16px
	}
}

.prompt {
	@extend %side-padding;
	text-align: center;
}

.prompt__tagline {
	color: $white;
	font-size: $beta;
	line-height: 1.1;
	padding-top: $ss-med;

	@include media(min-width $bp-med, 12) {
		padding-top: $ss-jumbo;
		font-size: 3rem;
	}
}

.prompt__copy {
	color: $white;
	opacity: 0.8;
	font-size: $epsilon;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: $base-spacing-unit;
	font-weight: 300;

	@include media(min-width $bp-med, 12) {
		font-size: $delta;
	}
}

.prompt__button {
	@extend %button;
	@include vp(box-shadow, inset 0 0 0 2px rgba(0,0,0,0.2));
	background: $blue;
	color: $white;
	font-weight: $base-weight-heavy;
	margin-bottom: $triple-spacing-unit;
	text-align: center;

	&:hover {
		cursor: pointer;
		background: darken($blue, 4%);
	}
}