.interest {
	@extend %side-padding;
	margin-top: $ss-small;
	margin-bottom: $base-spacing-unit;

	@include media(min-width $bp-med, 12) {
		margin-bottom: 0;
	}
}

.interest__tagline {
	font-family: $proxima;
	font-size: $gamma;
	font-weight: $base-weight-light;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 0;
}

.interest__form-field-label,
.interest__form-field-text {
	@extend %hard-reset;
}

.interest__form-field {
	margin-top: $base-spacing-unit;
}

.interest__form-field-label {
	display: none;
}

.interest__form-field-input {
	@extend %emphasized-form-input;
}

.interest__form-button {
	@extend %button;
	@include vp(box-shadow, inset 0 0 0 2px rgba(0,0,0,0.2));
	background: $teal;
	color: $white;
	font-weight: $base-weight-heavy;
	width: 100%;

	&:hover {
		cursor: pointer;
		background: darken($teal, 4%);
	}
}