.masthead {
	@extend %side-padding;
	padding-top: $half-spacing-unit;
}

.masthead__logo {
	margin-bottom: 0;
	line-height: 1;

	a {
		display: inline-block;
		position: relative;
		background: url(../../assets/ravti__logo-white.svg) center center no-repeat;
		height: 29px;
		width: 56px;
	}
}

.masthead__pages-list {
	@extend %hard-reset;
	text-align: right;
	padding-top: $quarter-spacing-unit;
}

.masthead__pages-list-item {
	color: $white;
	opacity: 0.6;
	display: inline-block;
	font-size: $milli;
	font-weight: $base-weight-heavy;
	padding-left: $base-spacing-unit;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}

	@include media(min-width $bp-med, 12) {
		font-size: $zeta;
	}
}