.teal {
	background: $teal;
}

.timeline {
	@extend %wrapper;
	padding: $double-spacing-unit $half-spacing-unit $base-spacing-unit;
}

.timeline__period {
	margin-top: $base-spacing-unit;
}

.timeline__period:last-child {
	margin-bottom: $triple-spacing-unit;
}

.timeline__title {
	font-size: $delta;
	padding-top: $half-spacing-unit;
	letter-spacing: -0.5px;
}

.timeline__period-topic {
	@include font-size($delta);
	line-height: 1.2;
	border-top: 2px solid $signature-grey;
	padding-top: $base-spacing-unit;
	margin-bottom: 0;
	letter-spacing: -0.5px;
}

.timeline__period-date {
	font-style: italic;
	font-family: serif;
	font-size: $milli;
	letter-spacing: -0.3px;

	b {
		font-style: normal;
		font-weight: bold;
	}
}

.timeline__period-list {
	@extend %hard-reset;
	padding-top: $base-spacing-unit;

	dd {
		@extend %hard-reset;
		margin-bottom: $half-spacing-unit;
		color: $base;
		font-weight: bold;
		font-family: $futura;

		a:hover {
			color: $teal;
		}
	}
}

.timeline__period-list + .timeline__period-date {
	padding-top: $base-spacing-unit;
}

.timeline__period-video {
	margin-top: $base-spacing-unit;
}

.timeline__image {
	padding: $base-spacing-unit;
	background: $border-grey;
	margin-top: $base-spacing-unit;
}