.teal {
	background: $teal;
}

.timeline {
	@extend %wrapper;
	padding: $double-spacing-unit $half-spacing-unit $base-spacing-unit;
}

.timeline__period {
	margin-top: $base-spacing-unit;
}

.timeline__period:last-child {
	margin-bottom: $triple-spacing-unit;
}

.timeline__title {
	font-size: $delta;
	padding-top: $half-spacing-unit;
	letter-spacing: -0.5px;
}

.timeline__period-topic {
	font-size: $epsilon;
	border-top: 2px solid rgba(0,0,0,.1);
	padding-top: $base-spacing-unit;
	margin-bottom: 0;
	letter-spacing: -0.5px;
}

.timeline__period-date {
	font-style: italic;
	font-family: serif;
	font-size: $milli;
	letter-spacing: -0.3px;
}

.timline__period-list {
	@extend %hard-reset;
	padding-top: $base-spacing-unit;

	dd {
		@extend %hard-reset;
		margin-bottom: $half-spacing-unit;
		color: $teal;
		font-weight: bold;

		a:hover {
			color: $base;
		}
	}
}

.timeline__image {
	padding: $base-spacing-unit;
	@include vp(box-shadow, 0 0 2px 0 rgba(0,0,0,0.2));
	background: $border-grey;
	margin-top: $base-spacing-unit;
}