.trust {
	@extend %side-padding;
	padding-bottom: $ss-small;
}

.trust__figure {
	padding-top: $ss-med;
	margin-bottom: 0;

	&::after {
		content: '';
		display: block;
		height: 4px;
		background: $yellow;
		margin-left: -$half-spacing-unit;
		margin-right: -$half-spacing-unit;
		margin-bottom: $base-spacing-unit;

		@include media(min-width $bp-med, 12) {
			margin-left: -10%;
			width: 120%;
		}
	}
}

.trust__tagline {
	text-align: center;
	margin-bottom: 0;
	font-size: $delta;

	@include media(min-width $bp-med, 12) {
		font-size: $beta;
	}
}

.trust__sub-heading {
	@extend %base-weight-light;
	font-family: $proxima;
	text-align: center;
	font-size: $epsilon;
	margin-bottom: 0;

	@include media(min-width $bp-med, 12) {
		font-size: $delta;
	}
}

.trust__button {
	@extend %button;
	@include vp(box-shadow, inset 0 0 0 2px rgba(0,0,0,0.2));
	background: $blue;
	color: $white;
	font-weight: $base-weight-heavy;
	margin-top: $base-spacing-unit;
	margin-bottom: $double-spacing-unit;
	text-align: center;

	&:hover {
		cursor: pointer;
		background: darken($blue, 4%);
	}
}

