.value {
	@extend %side-padding;
}

.coop {
	&::before {
		content: '';
		display: block;
		text-align: center;
		margin: $base-spacing-unit auto 0;
		background: url('../../assets/coop.svg') center center no-repeat;
		height: 90px;
		width: 90px;
	}
}

.time {
	&::before {
		content: '';
		display: block;
		text-align: center;
		margin: $base-spacing-unit auto 0;
		background: url('../../assets/time.svg') center center no-repeat;
		height: 90px;
		width: 90px;
	}
}

.wholesale {
	&::before {
		content: '';
		display: block;
		text-align: center;
		margin: $base-spacing-unit auto 0;
		background: url('../../assets/wholesale.svg') center center no-repeat;
		height: 90px;
		width: 90px;
	}
}

.value__offering-benefit {
	margin-bottom: 0;
	padding-top: $base-spacing-unit;
	line-height: 1;
	font-size: $delta;

	&::after {
		content: '';
		display: block;
		height: 4px;
		width: 4rem;
		margin: 0 auto;
		background: $teal;
		margin-top: $half-spacing-unit; 
	}
}

.value__offering {
	@include vp(box-shadow, inset 0 0 0 8px $off-white);
	margin-top: $half-spacing-unit;
	padding: $half-spacing-unit $base-spacing-unit 0;
	text-align: center;
	@include vp(transition-duration, 0.2s);
	@include vp(transition-timing-function, cubic-bezier(.89,.53,.51,.93));

	@include media(min-width $bp-med, 12) {
		margin-top: $ss-small;
		min-height: 22rem;
	}

	&:hover {
		@include vp(transform, scale(1.1));
	}
}

.value__offering-copy {
	font-size: $milli;
	margin-bottom: $triple-spacing-unit;

}